body {
  background-color: lightskyblue;
}

/* ---------- NavBar Styling ---------- */

.nav-bar ul {
  list-style-type: none;
  text-align: right;
  margin-right: 30px;
}

.nav-bar li {
  display: inline;
}

.nav-bar li a {
  display: inline-block;
  padding: 16px 16px;
  text-decoration: none;
  font-family: Lato, helvetica, sans-serif;
  font-weight: 100;
  color: #555;
  font-size: 14px;
  border-radius: 5px;
  background-color: lightskyblue;
}

.nav-bar .nav-bar a {
  transition: all .3s ease;
}

.nav-bar li a:hover {
  filter: brightness(90%);
  color: black;
}

.nav-bar li a.active {
  background-color: papayawhip;
  filter: brightness(100%);
}

/* ---------- Page Styling ---------- */

.button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 60px 20px 60px;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: papayawhip;
  transition: all .2s ease;
  font-weight: 800;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  filter: brightness(90%);
}

.vertical-align {
  text-align: center;
  margin-top: 200px;
  color: #222;
}

.registry h1, .home h2 {
  margin-bottom: 60px;
}

.rsvp {
  text-align: center;
  margin-top: 40px;
}

.rsvp iframe {
  width: 700px;
  height: 500px;
}
