.container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.background {
  height: 95%;
  width: 100%;
}

body {
  font-family: Muli, helvetica;
}

/* ---------- NavBar Styling ---------- */

.nav-bar ul {
  list-style-type: none;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 50px;
}

.nav-bar li {
  display: inline;
}

.nav-bar li a {
  display: inline-block;
  padding: 16px 16px;
  text-decoration: none;
  font-family: Muli, helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  font-size: 14px;
  border-radius: 5px;
}

.nav-bar .nav-bar a {
  transition: all .3s ease;
}

.nav-bar li a:hover {
  filter: brightness(90%);
  color: black;
}

.nav-bar li a.active {
  background-color: papayawhip;
  filter: brightness(100%);
}

/* ---------- Component Styling ---------- */

.button, button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 60px 20px 60px;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: papayawhip;
  transition: all .2s ease;
  font-weight: 800;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  filter: brightness(90%);
}

.home h1, .home h2, .rsvp-form h2, .registry h1, .post-form h2, .rsvp-list h2 {
  text-align: center;
}

.registry a, .home a {
  display: block;
  text-align: center;
  width: 70px;
  margin: auto;
}

.rsvp-form .name-input, .rsvp-form .number-input, .rsvp-form button {
  width: 200px;
  display: block;
  margin: 15px auto;
}

.radio {
  width: 200px;
  margin: auto;
}

.post-form input, .post-form button, .post-form textarea {
  display: block;
  margin: 20px auto;
  font-size: 20px;
}

.post-form button {
  border-radius: 5px;
  padding: 6px;
  background-color: papayawhip;
  font-family: Muli, helvetica;
  color: #444;
  cursor: pointer;
}

.post-form .name-input {
  width: 300px;
}

.post-form .message-input {
  width: 300px;
  height: 150px;
}

.post, .rsvp {
  padding: 5px;
  border: 1px solid #444;
  background-color: white;
  border-radius: 5px;
  margin: 10px auto;
  width: 325px;
}

.card:last-of-type {
  margin-bottom: 80px;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   text-align: center;
   background-color: papayawhip;
}

@media (min-width: 475px) {
  .nav-bar ul {
    text-align: right;
  }

  .post-form .name-input, .post-form .message-input {
    width: 400px;
  }

  .post{
    width: 450px;
  }
}