/* ---------- NavBar Styling ---------- */

.nav-bar ul {
  list-style-type: none;
  text-align: right;
  margin-right: 30px;
}

.nav-bar li {
  display: inline;
}

.nav-bar li a {
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Lato, helvetica, sans-serif;
  font-weight: 100;
  color: #555;
  font-size: 14px;
}

.nav-bar li a.active {
  background-color: lightskyblue;
}

.nav-bar .nav-bar a {
  transition: all .3s ease;
}

.nav-bar li a:hover {
  background-color: #ccc;
  color: white;
}

/* ---------- Page Styling ---------- */

.button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 60px 20px 60px;
  border: 2px solid #222;
  border-radius: 5px;
  background-color: lightskyblue;
  transition: all .2s ease;
  font-weight: 800;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.vertical-align {
  text-align: center;
  margin-top: 200px;
}

.registry h1, .home h2 {
  margin-bottom: 60px;
}
